<h1 class="users font-bold text-3xl py-10 px-24 capitalize" >All Users </h1>
<br>
<ul class="pb-5 ">
  <% @users.each do |user| %>
    <li class="mb-4 mt-2 hover:text-white">
      <%= link_to user_path(user) do %>
        <%= render "common/user", user: user %>
      <% end %>
    </li>
  <% end %>
</ul>
