<div>
  <h1 class="font-bold text-4xl">All Users</h1>
  <ul class="list-none">
    <% @users.each do |user| %>
      <li class="text-lg py-2">
        <%= user.name %>
      </li>
    <% end %>
  </ul> 
</div>
