<h1 class="users font-bold text-3xl">All Users </h1>
<br>
<ul>
  <% @users.each do |user| %>
    <li class="mb-4 hover:bg-slate-200">
      <%= link_to user_path(user) do %>
        <%= render "common/user", user: user %>
      <% end %>
    </li>
  <% end %>
</ul>
