<section class="post-container px-8 hover:text-white">
  <%= render "common/user", user: @user %>
  <div>
    <div class="border px-4 py-4 my-4">
      <h2 class="bio text-xl font-bold">User Bio</h2>
      <br>
      <p><%= @user.bio %></p>
    </div>
    <ul class="border px-4 py-4">
      <% @user.recent_posts.each do |post|%>
        <li class="border gap-3">
          <%= render "common/post", post: post %>
        </li>
      <% end %>
    </ul>
    <%= link_to user_posts_path(@user) do %>
      <button class="bg-slate-500 text-white mx-32 px-24 py-1 rounded shadow mt-5 hover:bg-slate-600 active:scale-105">See all posts</button>
    <% end %>
  </div>
</section>
