<div class="gap-4 flex flex-row w-full">
  <div class="w-1/12">
    <%= image_tag user.photo, atl: "#{user.name}-avatar", class: "block w-[90px] h-24" %>
  </div>

  <div class="w-11/12 border flex-row flex rounded-md">
    <h3 class="name text-2xl w-1/2 font-bold tracking-wider leading-10 py-6 pl-6"><%= user.name %></h3>
    <span class="w-1/2 flex justify-end px-4 pt-10">Number of posts <%= user.postscounter %></span>
  </div>
</div>
